{% extends 'base.html' %}

{% block content %}
<section class="panel-crud vista-contenedor">
    <div class="card-header encabezado-crud vista-cabecera">
        <h5 class="mb-0 fw-semibold">Agregar Producto al Pedido #{{ pedido.id }}</h5>
    </div>
    <div class="card-body vista-cuerpo">
        <form method="post">
            {% csrf_token %}
            {% for campo_formulario in form %}
                <div class="mb-3">
                    <label class="form-label">{{ campo_formulario.label }}</label>
                    {{ campo_formulario }}

                    {% if campo_formulario.help_text %}
                        <div class="form-text">{{ campo_formulario.help_text }}</div>
                    {% endif %}

                    {% for error_campo in campo_formulario.errors %}
                        <div class="text-danger small">{{ error_campo }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="acciones-formulario">
                <a href="/detalle/{{ pedido.id }}" class="link-accion small">
                    ← Volver
                </a>
                <button type="submit" class="btn btn-guardar-crud">
                    Agregar
                </button>
            </div>
        </form>
    </div>
</section>
{% endblock %}